.logo {
  display: block;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: $color-iris;
}

.navy-logo {
  color: $color-navy-blue;
}

.cloud-logo {
  color: $color-cloud;
}
