.overlay {
  height: 432px;
  max-width: 567px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-navy-blue;
  background-image: $grad, url('../images/mob-img/mob-people-office.jpg');

  @media screen and (min-width: 568px) {
    height: 436px;
    max-width: 900px;
    background-image: $grad, url('../images/tablet-img/tab-people-office.jpg');
  }

  @media screen and (min-width: 900px) {
    height: 436px;
    max-width: 1440px;
    background-image: $grad, url('../images/desktop-img/desk-people-office.jpg');
  }

  @include desktop {
    height: 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 567px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 567px),
  screen and (min-resolution: 192dpi) and (max-width: 567px),
  screen and (min-resolution: 2dppx) and (max-width: 567px) {
  .overlay {
    background-image: $grad, url('../images/mob-img/mob-people-office@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 568px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 568px),
  screen and (min-resolution: 192dpi) and (min-width: 568px),
  screen and (min-resolution: 2dppx) and (min-width: 568px) {
  .overlay {
    background-image: $grad,
      url('../images/tablet-img/tab-people-office@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 900px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 900px),
  screen and (min-resolution: 192dpi) and (min-width: 900px),
  screen and (min-resolution: 2dppx) and (min-width: 900px) {
  .overlay {
    background-image: $grad,
      url('../images/desktop-img/desk-people-office@2x.jpg');
  }
}
