.container {
  max-width: 426px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    max-width: 766px;
  }

  @include desktop {
    max-width: 1158px;
  }

  @media screen and (max-width: 1157px) {
    .team > &,
    .customers > &,
    .footer > & {
      max-width: 584px;
    }
  }
}
