$color-iris: #4d5ae5;
$color-ocean: #404bbf;
$color-navy-blue: #2e2f42;
$color-green: #31d0aa;
$color-slate: #434455;
$color-light-slate: #8e8f99;
$color-cornflower: #e7e9fc;
$color-cloud: #f4f4fd;
$color-navy-blue-modal: rgba(46, 47, 66, 0.4);
$color-grey: #2e2f42;
$color-white: #ffffff;
$color-dairy: #fcfcfc;

$grad: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
$transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$breakpoint-tab: 768px;
$breakpoint-desk: 1158px;
